* {
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

.container .jumbotron {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    color: white;
    border: solid 3px red;
    border-radius: 50px;
}



